<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="test_selenium.NewTest"/>
      <class name="test_selenium.TestNG_Test"/>
    </classes>
    </test>
   <test name = "Only test">
	   <classes>
		   <class name="test_selenium.NewTest1"/>
	   </classes>   
  </test>
</suite> 
